model List< WebApplication2.Models.Entities.TblMessage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_portfolioadminlayout.cshtml";
    int count = 0;
}

<h2>gelen kutusu</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>konu</th>
        <th>sil</th>
        <th>mesaj</th>

    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.MessageID</td>
            <td>@item.MessageSurname</td>
            <td>@item.MessageSubject</td>
            <td><a href="/Message/DeleteMessage/@item.MessageID" class="btn btn-outline-danger">Sil</a> </td>
            <td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-outline-dark">mesajı aç</a> </td>

        </tr>
    }
</table>

