@model WebApplication2.Models.Entities.TblMessage
@{
    ViewBag.Title = "MessageDetails";
    Layout = "~/Views/Shared/_portfolioadminlayout.cshtml";
}

<h2>MessageDetails</h2>
@Html.LabelFor(x => x.MessageSubject)
<br />
konu: @Html.DisplayFor(x => x.MessageSubject)
<br />
Gonderen:@Html.DisplayFor(x => x.NameSurname)
<br />
mesaj :@Html.DisplayFor(x => x.Content)
<br />
