
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_portfolioadminlayout.cshtml";
}

<h2>Index</h2>
<div class="card text-white bg-primary mb-3" style="max-width: 100%;">

    <div class="card-body">
        <h5 class="card-title" style="color:white">Toplam personel sayısı:@ViewBag.employeeCount</h5>
    </div>

    <div class="card-body">
        <h5 class="card-title" style="color:white">Toplam personel sayısı:@ViewBag.totalCityCount</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title" style="color:white">oertalama personel maasşı:@ViewBag.avgEmployeeSalary</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title" style="color:white">yazılım departmanı:@ViewBag.countSofWareDepartment</h5>
    </div>

</div>
